@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-size: 1.5em;
  font-family: 'EB Garamond', serif;
  background-color:  #fff;
}

p {
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

a:hover {
  border-bottom: 1px solid #444;
}

p.header {
  line-height: 1em;
  margin-top: 0;
}

.definition {
  width: 95%;
  max-width: 480px;
  margin: auto;
}

.word {
  font-size: 1.4em;
}
.type {
  font-style: italic;
  font-size: 0.8em;
  color: #555;
}
.pronunciation {
  font-size: 0.7em;
  color: #777;
}
.pronunciation .ipa {
  font-family: 'Verdana';
  font-size: 0.7em;
}

.example {
  font-size: 0.85em;
  padding-left: 0.6em;
  border-left: 0.2em solid #efefef;
  color: #222;
}

.origin {
  font-style: italic;
  color: #555;
  font-size: 0.7em;
}

.explain {
  font-size: 0.7em;
  color: #777;
}

.logo {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width:5em;
  opacity:0.5;
}
.logo:hover {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color:  #18191b;
  }

  a {
    border-bottom: 1px dotted #666;
  }

  a:hover {
    border-bottom: 1px solid #bbb;
  }

  .type, .pronunciation, .explain {
    color: #888;
  }

  .example {
    color: #ddd;
  }

  .origin {
    color: #aaa;
  }

  p {
    color: #fff;
  }

  .logo {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
}
